doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=0.8, maximum-scale=1')
    title Proof of Concept
    link(href='css/Project_CSS.css', rel='stylesheet')
  body
    // Banner image goes here, and the header is placed over it.
    section#Banner
      #header
        img.center(src='css/header2.png', alt='Header')
    // Menu for the different links to the other pages
    section#Menu
      ul.mainMenu
        li
          a.left(href='/book_form2') Library
        li
          a.left(href='/book_form5') User List
        li 
          a.right(href='/') Logout
        li
          a.right(href='/book_form') Profile Settings

    section#Paragrah_1
        //p #{databaseVersion}
      
    br
    


    h2 New Book Releases
    hr
    img.images(src='css/book1.jpg', alt='book1', style='width:20%;')
    img.images(src='css/book3.jpg', alt='book2', style='width:20%;')
    img.images(src='css/book2.jpg', alt='book2', style='width:20%;')
    img.images(src='css/book4.jpg', alt='book2', style='width:20%;')
    br
    br
    br

    h2 Track books you have read.
    h2 Save those you want to read.

    h3.grey The social network for book lovers.
    br
    br
    

    



  



      

      
          
        


      